header {
    background-color: white;
    color: #678284;
}

body {
    background-color: #DED4CB;
}

main {
    background-color: #ededed;
    padding: 18px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}
.photo img{
    border-radius: 2%;
}
header {
font-family: 'Lora', serif;

}
body {
  font-family: 'Rubik', sans-serif;
}
.user-info {
    font-family: 'Lora', serif;    
}
a:hover {
    color: #244751;
}